

.Links_div{
    display: flex;
    justify-content: space-between;
    /* background-color:#dce9f5; */
    position: absolute;
    top:20%;
    left:60%;
    /* width:38%; */
    /* height:60%; */
    /* margin-top:-200px; */
}
.Images{
    position: relative;
    /* width: 100%; */
    /* top:20px; */
    /* left:110px */
}
.Links_div a{
    /* text-decoration: none; */
    color:rgb(184, 8, 184);

}
.Links_div ul li{
    list-style-type: none;
    padding: 10px;
    font-size: 1.3em;
}
.Links_heading{
    color:red;
    text-decoration: underline;
}
.footer_img{
    width:100%;
    opacity: 0.8;
    /* height: 300px; */
    /* background-size:cover ; */
}