@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Playfair+Display&display=swap');

.wrapper-faq{
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin:0 50px;
    padding:4px;
    border-radius: 5px;
    background-color:rgba(255, 174, 182, 0.2);
}

.QA{
    display: flex;
    justify-content: space-between;
    /* margin: auto; */
    padding:10px;
    margin:12px;
    border-radius:5px;
    background-color: white;
    border-left: red solid 4px;
    transition: all .2s ease-in-out;
    font-weight: bold;
}
p{
    color:red;
}
.QA:hover{
    box-shadow: 10px 10px 5px grey;
    transform: scaleY(1.3);
}
.FAQBtn{
    border:none;
    border-radius:50%;
    padding:4px;
    font-size: 18px;
    cursor: pointer;
}
