.content{
    width:40%;
     height:400px;
    background-color: white;
    margin:10px;
    padding:0px 10px;
    border:1px solid white;
    /* overflow-y: scroll; */
    border-radius: 5%;
}

 .flags{
    width: 10%;
}
.country-block{
    box-shadow: 3px 4px 4px rgb(231, 231, 231) ;
    border-radius: 4px;
    /* height:300px; */
    /* display: flex; */
}
.sub-country-block{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* justify-content: space-between; */
}
.arrow{
    /* margin-left: 40%; */
    /* justify-self: flex-end; */
    margin:0 22px 0 auto;
   
}
h5{
    margin-left: 5%;
}
.country-data{
    font-weight: bold;
}
.scrollbar
{
	margin-left: 10px;
    float: left;
    /* display: flex; */
	width:100%;
     height:400px;
	background: white;
    overflow-y: scroll;
   
}

#style-3::-webkit-scrollbar
{
	width: 3px;
	background-color: #dfe1e8;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #7a7d89;
}
.searchbar{
   
    padding:12px;
    margin: 8px 0px 0px 0px;
    width:90%;
    background-color:#ebedf3 ;
    border-radius: 40px;
    border:none;
}
.searchbar::placeholder{
    padding:2px;
    color:black;
    font-size: 1.2em;
}



@media(max-width:425px){
.content{
    width:90vw;
    
}




}