.wrapper{
    /* width:33%; */
    /* height:100%; */
    width:50%;
    margin:10px;
    padding:0px 8px;
    border:1px solid white;
    border-radius: 5%;
    background-color: white;
}

.charts-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.btn{
    border:1px solid  #e9e9ec;
    border-radius: 10%;
    padding:10px;
    background-color: #e9e9ec;
    
}
.btn:focus{
    color:white;
    background:rgb(71, 69, 69);

}