.wrapper-recovery{
    /* width:17vw; */
    /* height:40vh; */
    /* position: relative; */
    margin:10px;
    padding:12px 8px;
    border:1px solid white;
    border-radius: 5%;
    background-color: white;
    text-align: center;
}
.big-circle{
    width:189px;
    height:189px;
    background-color: #f5f5f5;
    position: relative;
    border-radius: 50%;
    /* top: 154px; */
    margin-left: 20px;
    
}
.small-circle{
    position: absolute;
    width:103px;
    height:103px;
    background-color: white;
    top: 40px;
    left: 40px;
    
    box-shadow: 0px 0px 22px #2FD0AA26;
    border-radius: 50%;
}
.recovery-data{
    display: flex;
    justify-content: space-evenly;
    line-height: 1.5em;
    padding-top:10px;
    font-weight: bold;
    color:rgb(85, 83, 83);
}
.main-heading{
    color:black;
    margin:0
}
.h3{
    color:#06BA90;
    /* line-height: 1.5em; */
    /* margin-top:35%; */
    position: absolute;
    top:15px;
    left:17px;
/* z-index: 1; */
}

@media(max-width:425px){
.big-circle{
    margin : 0 auto
}

}