.Wrapper{
    width:40%;
    margin:10px;
    padding:0px 10px;
    border:1px solid white;
    border-radius: 5%;
    background-color: white;
}

.Map-content{
    display: flex;
    justify-content: space-between;
}

.Map-content ul li{
    list-style-type: none;
    /* display: flex; */
    padding:0px 5px;
    margin:0px 10px;
}
.Map-content ul{
    display: flex;
    align-items: center;
    
}
.Map-content ul li:first-child::before{
    content:"";
    position: absolute;
width: 14px;
height: 14px;
background: #FF0019 0% 0% no-repeat padding-box;
border-radius: 3px;
opacity: 1;
margin-left:-24px;
}
.Map-content ul li:last-child::before{
    content:"";
    position: absolute;
width: 14px;
height: 14px;
background: #FFC4C6 0% 0% no-repeat padding-box;
border-radius: 3px;
opacity: 1;
margin-left:-20px;
}
/* .world{
    width:80%;
} */
.Map-area{
    background-color: #fbf6f6;
    width:100%;
    height:75%;
    
    border-radius: 5%;
    /* margin-top:20px; */
}